@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: bottom;
}

html{
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'Yu Gothic UI', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.1em;
    /* font-family: 'yu mincho'; */
}

p {
    font-size: 2rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2.5rem;
}

h6 {
    font-size: 1.5rem;
}
/* header */

/* ナビゲーション */

nav {
    position: fixed;
    width: 100%;
    /* height: 12vh; */
    height: 20vh;
    /* background: #004384; */
    background-image: url(./header_img/header3.png);
    /* background-position-y: -245px; */
    /* top: -5px; */
    background-size: contain;
    background-repeat: repeat-x;
    background-position-x: -205px;
    z-index: 10;
}

.nav-box {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height: 85%;
    margin: 0 auto;
}
/* ナビゲーション出たり消えたり */
.fadeout_h {
    animation: fadeout_h 0.5s ease forwards;
    opacity: 0;
    top: -100%;
    transition: all 0.5s;
  }
  
  @keyframes fadeout_h {
    0% {
      top: 0;
      opacity: 1;
    }
  
    100% {
      top: -100%;
      opacity: 0;
    }
  }
  
  .fadein_h {
    animation: fadein_h 0.5s ease forwards;
    opacity: 1;
    top: 0;
    transition: all 0.5s;
  }
  
  @keyframes fadein_h {
    0% {
      top: -100%;
      opacity: 0;
    }
  
    100% {
      top: 0;
      opacity: 1;
    }
  }

.nav-imgbox {
    width: 15vw;
    /* height: 12vh; */
    margin-top: 0.1%;
    margin-left: 1%;
    align-self: flex-start;
    /* position: absolute;
    top: 0;
    left: 5%; */
}

.nav-imgbox img {
    width: 100%;
}

.nav_listbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
  }

ul {
    display: flex;
    margin-right: 8%;
}

li {
    list-style-type: none;
    padding-left: 100px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.icon1 {
    position: relative;
}




.icon1::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 10%;
    width: 35px;
    height: 35px;
    background-image: url(./header_img/home.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon2 {
    position: relative;
}

.icon2::before {
    content: "";
    position: absolute;
    top: -35px;
    left: 25%;
    width: 38px;
    height: 38px;
    background-image: url(./header_img/news.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon3 {
    position: relative;
}

.icon3::before {
    content: "";
    position: absolute;
    top: -35px;
    left: 20%;
    width: 40px;
    height: 40px;
    background-image: url(./header_img/areaguide.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon4 {
    position: relative;
}

.icon4::before {
    content: "";
    position: absolute;
    top: -35px;
    left: 30%;
    width: 40px;
    height: 40px;
    background-image: url(./header_img/guidance.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* メインビジュアル */

.main-visualbox {
    /* background-color: yellow; */
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
}
/* 
.main-visual {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-size: cover;
    background-position: center center;
    
    animation: image-switch-animation 20s infinite;
  }

  .src1 {
    background-image: url(./mainvisual_img/shark.jpg);
    background-position: top;
  }
  .src2 {
    background-image: url(./mainvisual_img/penguin.jpg);
  }
  .src3 {
    background-image: url(./mainvisual_img/kurage2.jpg);
  }
  .src4 {
    background-image: url(./mainvisual_img/chinanago.jpg);
  }
  .src5 {
    background-image: url(./mainvisual_img/kumanomi.jpg);
  }

  @keyframes image-switch-animation {
    0%{ opacity: 0;}
    5%{ opacity: 1;}
    25%{ opacity: 1;}
    30%{ opacity: 0;}
    100%{ opacity: 0;}
  }

  .main-visual:nth-of-type(1) {
    animation-delay: 0s;
  }
  .main-visual:nth-of-type(2) {
    animation-delay: 4s;
  }
  .main-visual:nth-of-type(3) {
    animation-delay: 8s;
  }
  .main-visual:nth-of-type(4) {
    animation-delay: 12s;
  }
  .main-visual:nth-of-type(5) {
    animation-delay: 16s;
  } */

/* お知らせ */


.inromation_box {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 25%;
    background: #fff;
    position: absolute;
    top: 45%;
    right: 3%;
    border-radius: 20px;
    z-index: 1;
}



.inromation_box:hover {
    position: absolute;
    top: 43%;
    right: 3%;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
}

.inro_overbox {
    width: 100%;
    height: 50%;
    background-image: url(./mainvisual_img/penguin2kaikai.jpg);
    background-size: cover;
    background-position-y: -120px;
    border-radius: 20px 20px 0 0;

    display: flex;
    align-items: baseline;
    padding: 7% 7% 7% 20%;
    color: #fff;
}

.inro_overbox h5{
    position: relative;
}

.inro_overbox h5::before{
    content: "";
    height: 100%;
    position: absolute;
    top: 7px;
    left: -30px;
    background-image: url(./mainvisual_img/tokei.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
}

.inro_middolebox {
    width: 100%;
    height: 8%;
    background-image: url(./header_img/haader4_kaiten.png);
    background-size: contain;
    background-repeat: repeat-x;
    position: absolute;
    top: 45%;
    left: 0;
}

.inro_underbox {
    width: 100%;
    height: 42%;
    padding: 5%;
    /* background: #000; */
}

.inro_underminibox {
    display: flex;
    width: 100%;
    color: #000;
}
.inro_underminibox h6 {
    margin: 0 1% 1%;
}

.minibox_l1 {
    width: 25%;
    text-align: center;
    background: #d9cdcd;
}


.campaign_box {
    position: absolute;
    bottom: 15%;
    left: 4%;
    width: 20%;
    height: 40%;
    background: #1870c9db;
    border-radius: 50%;
    z-index: 1;
    text-align: center;
    animation: scaleIn 1.5s 1 ease;
    /* animation-delay: .5s; */

    display: none;
}

.campaign_box:hover {
    position: absolute;
    bottom: 17%;
    left: 4%;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
}


.campaign_boxmini {
    position: absolute;
    bottom: 10%;
    left: 22%;
    width: 8%;
    height: 16%;
    background: #7293ffba;
    border-radius: 50%;
    z-index: 1;
    text-align: center;
    animation: scaleIn 1.0s 1 ease;
    /* animation-delay: .25s; */

    display: none;
}

.campaign_boxmini h5 {
    color: #7293ffba;
}

.campaign_boxmini2 {
    position: absolute;
    bottom: 8%;
    left: 30%;
    width: 2%;
    height: 4%;
    background: #72b8ffdb;
    border-radius: 50%;
    z-index: 1;
    text-align: center;
    animation: scaleIn .5s 1 ease;

    display: none;
}

.campaign_boxmini2 h5 {
    color: #72b8ffdb;
}

@keyframes scaleIn {
    from{
        transform: translateY(50px);
        opacity: 0;;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}


.loaded {
    display: block;
}

.campaign_box h5 {
    color: #fff;
}

.campaign_box h5:nth-child(1){
    margin-top: 15%;
}

.campaign_box h4 {
    color: yellow;
    margin-top: 5%;
}

.campaign_box h6 {
    color: #fff;
    margin-top: 10%;
}

  .visual_underbox {
    width: 100%;
    height: 5vh;
    background-image: url(./header_img/haader4_kaiten.png);
    background-size: contain;
    background-repeat: repeat-x;
    /* background-position-y: -200px; */
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  /* -------------------------------------------------------- */

  /* main */


  main {
    background:linear-gradient(#fff,#72B8FF, #004384);
  }

  /* 最新情報 */

  /* section {
    margin-top: 30vh;
    padding-bottom: 30vh;
  } */
  
  .section_news {
    margin-top: 30vh;
    padding-bottom: 40vh;
  }

  .section_title,
  .section_subtitle {
    text-align: center;
  }

  .section_title {
    margin-bottom: 5px;
    margin-top: -150px;
    padding-top: 150px;
    color: #efeef5;
    text-shadow: 1px 4px 3px #0045fe;

  }

  .section_title span {
    background: 
    linear-gradient(transparent 70%,  #0081ff 100%);
    padding: 0 5px;
  }

  .section_subtitle {
    color: #7f749e;
    margin-bottom: 50px;
    font-size: 2.0rem;
  }



  .section_news {
    margin-bottom: 10vh;
  }

.wrapper {
    /* width: 90%; */
    width: 90%;
    height: 45vh;
    margin: 0 auto;
    position: relative;
    top: 80px;
    background-image: url(./mainvisual_img/haikei1.jpeg);
    border-radius: 20px;
}

.slick_news {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    
}


.news_content {
/* width: 25%; */
border: 1px solid #000;
margin: 0 20px;
height: 50vh;
border-radius: 20px;
}

.news_imgbox {
width: 100%;
height: 60%;
}

.news_imgbox img {
width: 100%;
height: 100%;
border-radius: 20px 20px 0 0;
}

.news_textbox {
width: 100%;
height: 40%;
margin: 0 auto;
/* text-align: center; */
}


.news_textbox h6 {
    height: 5%;
    padding: 3%;
}

.news_textbox h6:nth-child(1) {
    color: #666;
    margin-bottom: 2%;
}

.news_textbox h6:nth-child(2) {
    margin-bottom: 2%;
}

.news_textbox .shisetsu span {
    background: 
    linear-gradient(transparent 50%,  #0081ff 100%);
    padding: 0 5px;
  }

.news_textbox .event span {
    background: 
    linear-gradient(transparent 50%,  #c8ff00 100%);
    padding: 0 5px;
}

.news_textbox .tenzi span {
    background: 
    linear-gradient(transparent 50%,  #21e376 100%);
    padding: 0 5px;
}

.news_textbox h6:nth-child(3) {
    font-weight: normal;
}


.slick-prev:before,
.slick-next:before {
    color: #72B8FF;
    z-index: 1;
}


.slick-dots li button:before {
    font-size: 12px;
    top: 6px;
    color: #004384;
}

/* --------------------------------------------------------- */

/* エリアガイド */

.section_areaguide {
    /* position: relative; */
    /* background:linear-gradient(#fff, #72B8FF); */
    /* margin: 0; */
    padding-bottom: 30vh;
}

/* .section_areaguide span {
    background: 
    linear-gradient(transparent 70%, #0081ff 100%);
    padding: 0 5px;
  } */


/* .section_areaguide::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 15px 15px rgb(233, 231, 231);
} */

.areaguide_box {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
}

/* 
.areabox {
    width: 100%;
    background-size: 100% 100%;
    position: relative;
} */

/* .areabox1:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
} */

/* .areabox1:hover:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
} */



.areabox {
    width: 100%;
    background-size: 100% 100%;
    filter:grayscale(90%);
    border-radius: 20px;
}

.areabox a {
    /* position: absolute;
    left: 0;
    top: 0; */
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.areabox1:hover {
    filter:grayscale(0);
    color: #FAF7F0;
    text-shadow: 1px 4px 3px #8294C4;
    transition:0.3s;
}

.areabox2:hover {
    filter:grayscale(0);
    color: #FAF7F0;
    text-shadow: 1px 4px 3px #8294C4;
    transition:0.3s;
}

.areabox3:hover {
    filter:grayscale(0);
    color: #FAF7F0;
    text-shadow: 1px 4px 3px #8294C4;
    transition:0.3s;
}

.areabox4:hover {
    filter:grayscale(0);
    color: #FAF7F0;
    text-shadow: 1px 4px 3px #8294C4;
    transition:0.3s;
}


/* 
.areabox a:hover {
    color: #FAF7F0;
    text-shadow: 1px 4px 3px #8294C4;
} */

.area_textbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.areabox1 {
    background-image: url(./areaguide_img/dolphin.jpg);
}

.areabox2 {
    background-image: url(./areaguide_img/penguin.jpg);
}

.areabox3 {
    background-image: url(./areaguide_img/nangoku.jpg);
}

.areabox4 {
    background-image: url(./areaguide_img/azarashi.jpg);
}


/* -------------------------------------------------------- */

/* ご利用案内 */


.section_userguide {
    /* background:linear-gradient(#72B8FF, #004384); */
    border-top: transparent;
    padding-bottom: 20vh;
}

.section_userguide h3 {
    color: #acafe4;
}


.animal_img {
    opacity: 0;
    width: 50%;
    margin-left: 42%;
  }

.animal_img img {
    width: 15vw;
}
  
  .fadein_r {
    animation: fadeinAnimeR 3s forwards;
  }
  
  @keyframes fadeinAnimeR {
    0% {
      opacity: 0;
      transform: translateX(100%);
  
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


.userguide_box {
    margin-top: 5vh;
}

.userguide_box1,
.userguide_box2 {
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userguide_box1 {
    width: 95%;
    margin: 0 auto;
}

.userguide_box2 {
    width: 65%;
    margin: 0 auto;
}

.userguide_area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.userguide_area a {
    display: block;
    padding: 5vh;
    text-decoration: none;
    color: #004384;
    text-shadow: 1px 4px 3px #00b6ff96;
}

.userguide_area a:hover {
    color: #004384;
    text-shadow: 1px 4px 3px #e3f21a96;
}


.userguide_area1,
.userguide_area2,
.userguide_area3,
.userguide_area4,
.userguide_area5 {
    background-image: url(./userguide_img/kumototal.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: 0; */
}



.fadeInUp1 {
    animation-name: fadeInUp1;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite ;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInUp1 {
    0%{
        opacity: 1;
        transform: translateY(0);
    }

    50%{
        /* opacity: 0.5; */
        transform: translateY(-30%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp2 {
    animation-name: fadeInUp2;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite ;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInUp2 {
    0%{
        opacity: 1;
        transform: translateY(15%);
    }

    50%{
        /* opacity: 0.5; */
        transform: translateY(0%);
    }

    100%{
        opacity: 1;
        transform: translateY(15%);
    }
}


.fadeInUp3 {
    animation-name: fadeInUp3;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite ;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInUp3 {
    0%{
        opacity: 1;
        transform: translateY(-15%);
    }

    50%{
        /* opacity: 0.5; */
        transform: translateY(15%);
    }

    100%{
        opacity: 1;
        transform: translateY(-15%);
    }
}




/* .yohaku {
    height: 200vh;
    background: #000;
} */




/* 戻るボタン */

.gotop {
    display: block;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    /* background: #FFF; */
    background-image: url(./logo_img/top_icon.PNG);
    background-size: contain;
    /* border: 1px solid #999;
    padding-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    font-size: 85%;
    text-decoration: none; */
    /* color: #333; */
    /* opacity: 0.5; */
    position: fixed;
    bottom: 10%;
    right: 1%;
    z-index: 10;
    border-radius: 50%;

    display: none;
}

.gotop::before{
    content: "";
    display: block;
    /* border-top: 2px solid #333;
    border-right: 2px solid #333; */
    width: 25%;
    height: 25%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
}
/* .gotop:hover{
    opacity: 1;
} */

.fadein {
    animation-name: fadeinAnime;
    animation-duration: .5s;
    animation-fill-mode: forwards; /* アニメーション実行前後の動きに関わるプロパティ */
    opacity: 0.5;
    display: block;
}

@keyframes fadeinAnime {
    from{
        /* opacity: 0; */
        transform: translateY(100px);
    }

    to{
        /* opacity: 0.5; */
        transform: translateY(0);
    }
}

.fadein:hover{
    opacity: 1;
}



/* ---------------------------------------------------- */





/* footer */

footer {
    height: 30vh;
    background: #004384;
    position: relative;
}

svg {
    height: 40vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .footer_box {
    position: absolute;
  }

  .copylight_box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    /* background-color: #72B8FF; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .copylight_box h6 {
    font-size: 1.2rem;
  }

  







  /* ----------------------------------------------------- */

 

  /* レスポンシブ準備 */


  .openbtn {
    background: #004384;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    /*  */
    /* position: relative; */
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 100;
    cursor: pointer;

    display: none;
}

.openbtn span {
    display: inline-block;
    width: 80%;
    height: 3px;
    background: white;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
    /* opacity: 1; */
}

.openbtn span:nth-child(1) {
    top: 15px;
}

.openbtn span:nth-child(2) {
    top: 23px;
}

.openbtn span:nth-child(3) {
    top: 31px;
}





 /* レスポンシブ */

/* タブレットサイズ */
@media screen and (max-width: 769px) {
    html {
        font-size: 10px;
    }

    nav {
        height: 17vh;
    }


    .nav-imgbox {
        width: 20vw;
        /* height: 12vh; */
        margin-top: 2%;
        margin-left: 2%;
        align-self: flex-start;
        /* position: absolute;
        top: 0;
        left: 5%; */
    }
    
    .nav-imgbox img {
        width: 100%;
    }


    .openbtn {
        display: block;
    }

    .nav-box .nav_listbox {
        position: fixed;
        align-items: flex-start;
        padding-top: 15%;
        /* top: -100%; */
        top: 0;
        /* right: 0; */
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(00, 43, 84, 0.8);
        box-sizing: border-box;
        z-index: 1;
        transition: all .8s;
    }


    .active span:nth-child(1) {
        transform: translateY(6px) rotate(-45deg);
        width: 100% ;
        top: 18px;
        left: 0;
    }
    
    .active span:nth-child(2) {
        opacity: 0;
    }
    
    .active span:nth-child(3) {
        transform: translateY(6px) rotate(45deg);
        width: 100% ;
        top: 18px;
        left: 0;
    }

    .nav-box .nav_active {
        right: -80%;
    }


    ul {
        display: block;
        width: 100%;
        margin-left: 3%;
        text-align: left;
    }
    
    li {
        list-style-type: none;
        padding-left: 0;
        margin: 5% auto;
        /* border-bottom: 1px solid #fff; */
    }
    
    nav ul li a {
        color: #fff;
        padding: 5px;
    }
    
    
    .icon1::before,
    .icon2::before,
    .icon3::before,
    .icon4::before {
        display: none;
    }
    

    .campaign_box {
        position: absolute;
        bottom: 15%;
        left: 4%;
        width: 30%;
        height: 40%;
        background: #1870c9db;
        border-radius: 50%;
        z-index: 1;
        text-align: center;
        animation: scaleIn 1.5s 1 ease;
        /* animation-delay: .5s; */
    
        display: none;
    }
    
    
    @keyframes scaleIn {
        from{
            transform: translateY(50px);
            opacity: 0;;
        }
    
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    
    .loaded {
        display: block;
    }


    .campaign_boxmini,
    .campaign_boxmini2{
        display: none;
    }



    .inromation_box {
        width: 40%;
        height: 25%;
        background: #fff;
        top: 70%;
        right: 2.5%;
        border-radius: 20px;
        z-index: 5;
    }
    
    .inro_overbox {
        width: 100%;
        height: 50%;
        background-image: url(./mainvisual_img/penguin2kaikai.jpg);
        background-size: cover;
        background-position-y: -60px;
        border-radius: 20px 20px 0 0;
    
        display: flex;
        align-items: baseline;
        padding: 7% 7% 7% 20%;
        color: #fff;
    }
    
    .inro_overbox h5{
        position: relative;
    }
    
    .inro_overbox h5::before{
        content: "";
        height: 100%;
        position: absolute;
        top: 7px;
        left: -30px;
        background-image: url(./mainvisual_img/tokei.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
    }
    
    .inro_middolebox {
        width: 100%;
        height: 8%;
        background-image: url(./header_img/haader4_kaiten.png);
        background-size: contain;
        background-repeat: repeat-x;
        position: absolute;
        top: 45%;
        left: 0;
    }
    
    .inro_underbox {
        width: 100%;
        height: 42%;
        padding: 5%;
        /* background: #000; */
    }
    
    .inro_underminibox {
        display: flex;
        width: 100%;
        color: #000;
    }
    .inro_underminibox h6 {
        margin: 0 1% 1%;
    }
    
    .minibox_l1 {
        width: 25%;
        text-align: center;
        background: #d9cdcd;
    }


    .section_news {
        margin-top: 15vh;
        padding-bottom: 20vh;
    }
    
    
      .section_title {
        margin-top: -100px;
        padding-top: 100px;
    }
    
    .slick-dots li button:before {
        font-size: 6px;
        top: 6px;
        color: #004384;
    }



    .areaguide_box {
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    
    
    
    
    .areabox {
        width: calc(100%/2);
        height: 80%;
    }

    .areabox h2 {
        font-size: 3.5rem;
    }


    .section_userguide {
        margin-top: 40vh;
    }



    .animal_img {
        opacity: 0;
        width: 50%;
        margin-left: 42%;
      }
    
    .animal_img img {
        width: 15vw;
    }
      
      .fadein_r {
        animation: fadeinAnimeR 3s forwards;
      }
      
      @keyframes fadeinAnimeR {
        0% {
          opacity: 0;
          transform: translateX(100%);
      
        }
      
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    
    
    .userguide_box {
        margin-top: 5vh;
    }
    
    

    .userguide_box h4 {
        font-size: 2rem;
    }

    footer {
        height: 15vh;
    }

    .copylight_box h6 {
        font-size: 0.8rem;
    }



    .gotop {
        bottom: 2%;
        right: 2%;
    }
    
    .gotop::before{
        content: "";
        display: block;
        /* border-top: 2px solid #333;
        border-right: 2px solid #333; */
        width: 25%;
        height: 25%;
        top: 25%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        transform: rotate(-45deg);
    }
}



/* スマホサイズ */
  @media screen and (max-width: 376px) {
    
    .nav-box .nav_listbox {
        padding-top: 30%;
        top: -100%;
        /* top: 0; */
        right: 0;
    }

    .nav-box .nav_active {
        top: 0;
    }


    ul {
        width: auto;
        margin: 0 auto;
        text-align: center;
    }
    
    li {
        margin: 30% auto;
        border-bottom: 1px solid #fff;
    }
    
    
    
    .icon1::before,
    .icon2::before,
    .icon3::before,
    .icon4::before,
    .campaign_box,
    .campaign_boxmini,
    .campaign_boxmini2 {
        display: none;
    }
    


    .inromation_box {
        width: 95%;
        height: 30%;
        top: 60%;
        right: 2.5%;
    }
    
    .inro_overbox {
        background-position-y: -70px;
    }
    
    .areabox h2 {
        font-size: 3rem;
    }

    .userguide_box h4 {
        font-size: 1.2rem;
    }

    footer {
        height: 0vh;
    }

    .copylight_box h6 {
        font-size: 0.8rem;
    }

}